[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
pylint = "*"
autopep8 = "*"

[packages]
pandas = "*"
icalendar = "*"

[requires]
python_version = "3.7"
